<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/styles.css">

<head>
    <title>Error</title>
</head>

<body>
    <div class="main-content">
        <p>Sorry the server is currently down.
            Contact kevtrc15@gmail.com
        </p>
    </div>
    {{>footer}}
</body>

</html>