<!DOCTYPE html>
<html>

</head>
<link rel="stylesheet" href="/css/styles.css">
<title>About</title>

<head>

<body>
    <div class="main-content">

        {{>header}}
        <img id='aboutimg' src="https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif"><br>
        <p>Hi thanks for checking out <br>
            Have a good day :)
        </p>
    </div>
    {{>footer}}
    <script>
        var img = new Image();
        img.onload = function () {
            document.querySelector("#aboutimg").src = this.src;
        };
        img.src = "/img/IMG_0286.jpg";
    </script>
</body>

</html>