<!DOCTYPE html>
<html>

</head>
<link rel="stylesheet" href="/css/styles.css">
<title>About</title>

<head>

<body>
    <div class="main-content">

        {{>header}}
        <img src="/img/IMG_0286.jpg">
    </div>
    {{>footer}}
</body>

</html>