<!DOCTYPE html>
<html>

</head>
<link rel="stylesheet" href="/css/styles.css">
<title>About</title>

<head>

<body>
    <div class="main-content">

        {{>header}}
        <img id='aboutimg' src="/img/IMG_0286.jpg"><br>
        <p>Hi thanks for checking out <br>
            Have a good day :)
        </p>
    </div>
    {{>footer}}
</body>

</html>