<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <meta charset=UTF-8>
    <link rel="icon" href="/img/IMG_0286.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get weather info</p>
        <form>
            <input placeholder="Enter location with state or country">
            <button>Search</button>
        </form>
        <h3></h3>
        <p id='response'></p>
        <p id='tapMessage'>
            <img id='resimg' onclick="play()">
            <p id='imgresponse'></p>
            <p style="color:red;" id='tap'>Tap image to load next</p>
    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>


</html>