body {
   color: black;
   font-family: arial;
   text-align: left;
   max-width: 650px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   min-height: 90vh;
}

p {
   animation: fadeIn ease-in 500ms;
   -webkit-animation: fadeIn ease-in 500ms;
}
form {
   animation: fadeIn ease-in 500ms;
   -webkit-animation: fadeIn ease-in 500ms;
   margin-top: 30px;
}
.main-content {
   flex-grow: 1;
}
h1 {
   font-size: 65px;
   margin-bottom: 16px;
   color: darkgreen;
}
header a {
   text-decoration: solid;
   margin-right: 16px;
   color: darkgreen;
}
a {
   text-decoration: solid;
}
header {
   margin-top: 16px;
   margin-bottom: 40px;
   border-bottom: 1px solid brown;
   padding-bottom: 30px;
}
footer {
   color: brown;
   border-top: 1px solid brown;
   margin-top: 16px;
   padding: 16px 0;
}
#aboutimg {
   animation: fadeIn ease-in 1s;
   -webkit-animation: fadeIn ease-in 1s;
   width: 300px;
   margin-top: 100px;
}
li {
   margin: 4px 0px;
}
ul {
   padding: 0;
   list-style-type: none;
}
button {
   height: 36px;
   margin: 0 3px;
   color: darkgreen;
}
input {
   color: darkgreen;
   height: 30px;
   width: 400px;
}
#resimg {
   animation: fadeIn ease-in 500ms;
   -webkit-animation: fadeIn ease-in 500ms;
   display: block;
   min-width: 400px;
   max-width: 650px;
   padding-top: 40px;
}
#response {
   animation: fadeIn ease-in 500ms;
   -webkit-animation: fadeIn ease-in 500ms;
   white-space: pre;
}
#imgsource {
   font-size: 4 px;
   font-style: italic;
   color: brown;
}

/* rainbow */
.rainbow {
   font-family: monospace;
   animation: colorRotate 2s linear 0s infinite;
}

@keyframes colorRotate {
   from {
      color: #6666ff;
   }
   10% {
      color: #0099ff;
   }
   50% {
      color: #00ff00;
   }
   75% {
      color: #ff3399;
   }
   100% {
      color: #6666ff;
   }
}

/* ////////////////fade/////////////// */

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-moz-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-webkit-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-o-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-ms-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-moz-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-webkit-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-o-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@-ms-keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
